version: '3.5'
services:
  app:
    container_name: resource_poc
    image: fabioqmarsiaj/spring-docker-jenkins-poc-app
    build:
      dockerfile: ./Dockerfile
    # The ${RESOURCE_POC_SERVER_PORT} must be set on host.
    ports:
      - "${RESOURCE_POC_SERVER_PORT}:${RESOURCE_POC_SERVER_PORT}"
    # The env_file option will only set environment variables in the docker container itself.
    # Not on the host which is used during the compose 'build'.
    env_file:
      - .env
    restart: always